pipeline/PL_DELIMITADO_CURATED.json
{
	"name": "PL_DELIMITADO_CURATED",
	"properties": {
		"activities": [
			{
				"name": "Verifica_Arquivos_Stage",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ADLBlob",
						"type": "DatasetReference",
						"parameters": {
							"Directory": {
								"value": "@concat('STAGE',pipeline().parameters.Hierarquia,pipeline().parameters.Ano,'/',pipeline().parameters.Mes,'/',pipeline().parameters.Dia)",
								"type": "Expression"
							},
							"Container": "storagemasteragro"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings",
						"skipLineCount": 0
					}
				}
			},
			{
				"name": "Trata Varios Arquivos",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Verifica_Arquivos_Stage",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Verifica_Arquivos_Stage').output.childitems",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 10,
					"activities": [
						{
							"name": "PreencheVariavel NomeArquivo",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Insere Log Inicio",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "NomeArquivo",
								"value": {
									"value": "@{item().name}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Insere Log Inicio",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Verifica Arquivo foi processado",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[proc_InsereLogProcessamento]",
								"storedProcedureParameters": {
									"NomePipeline": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"Camada": {
										"value": {
											"value": "CURATED",
											"type": "Expression"
										},
										"type": "String"
									},
									"nomearquivo": {
										"value": {
											"value": "@{item().name}",
											"type": "Expression"
										},
										"type": "String"
									},
									"Status": {
										"value": {
											"value": "Em Processamento",
											"type": "Expression"
										},
										"type": "String"
									},
									"Detalhe": {
										"value": {
											"value": "Processando Arquivo",
											"type": "Expression"
										},
										"type": "String"
									},
									"isUpdate": {
										"value": {
											"value": "0",
											"type": "Expression"
										},
										"type": "String"
									},
									"HierarquiaFinal": {
										"value": null,
										"type": "String"
									},
									"TamanhoArquivoIni": {
										"value": {
											"value": "0",
											"type": "Expression"
										},
										"type": "String"
									},
									"QtdLinhasIni": {
										"value": {
											"value": "0",
											"type": "Expression"
										},
										"type": "String"
									},
									"TamanhoArquivoFim": {
										"value": null,
										"type": "String"
									},
									"QtdLinhasFim": {
										"value": null,
										"type": "String"
									},
									"QtdLinhasRej": {
										"value": null,
										"type": "String"
									},
									"HierarquiaInicial": {
										"value": {
											"value": "@concat('STAGE',pipeline().parameters.Hierarquia,pipeline().parameters.Ano,'/',pipeline().parameters.Mes,'/',pipeline().parameters.Dia,'/',item().name)",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ConexaoBanco",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Verifica Arquivo foi processado",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "DECLARE @A varchar(30)\n\nselect top 1 @A=tmp.A --as Prosseguir  \nFROM\n(\n\tSELECT 'N' as A\n\tfrom dbo.logprocessamento with(nolock)\n\twhere NomeArquivo = '@{item().name}'\n\tand Status = 'Sucesso' \n\tand Camada = 'CURATED'\n\tUNION ALL\n\tSELECT 'S' as A\n) tmp\norder by A\n\nIF @A = 'N'\nBEGIN\n\tRAISERROR ('Arquivo Já Processado',16,1)\nEND\nELSE\nBEGIN\n\tSELECT 'S' as Prosseguir\nEND",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "LogProcessamento",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "Dropa External Table WizData",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "PreencheVariavel NomeArquivo",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[proc_DropExternalTable]",
								"storedProcedureParameters": {
									"NomeTabela": {
										"value": {
											"value": "@concat(item().name)",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ConexaoBanco",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Cria External Table WizData",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Dropa External Table WizData",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[proc_CriaExternalTable]",
								"storedProcedureParameters": {
									"campos": {
										"value": {
											"value": "NF VARCHAR(250),\nOperação VARCHAR(250),\nCliente VARCHAR(250),\nCodCliente\t VARCHAR(250),\nVendedor\tVARCHAR(250),\nCodVendedor\t VARCHAR(250),\nDescricaoProdutoVARCHAR(250),\nCodProduto VARCHAR(250),\nMarca\t VARCHAR(250),\nFornecedor VARCHAR(250),\nGrupoSubgrupo VARCHAR(250),\nData\t  VARCHAR(250),\nQtde\t VARCHAR(250),\nVdaBruta\t VARCHAR(250),\nMediaUN\t VARCHAR(250),\nICMS VARCHAR(250),\nPisConfins VARCHAR(250),\nOutros VARCHAR(250),\nCusto VARCHAR(250), \nFrete VARCHAR(250),\nDespAces VARCHAR(250),\nComissao VARCHAR(250),\nLucroBruto VARCHAR(250),\nPercLucro VARCHAR(250),\nPercVenda VARCHAR(250)\n\n\n\n\n",
											"type": "Expression"
										},
										"type": "String"
									},
									"nomearquivo": {
										"value": {
											"value": "@concat('/STAGE',pipeline().parameters.Hierarquia,pipeline().parameters.Ano,'/',pipeline().parameters.Mes,'/',pipeline().parameters.Dia,'/',item().name)",
											"type": "Expression"
										},
										"type": "String"
									},
									"NomeTabela": {
										"value": {
											"value": "@concat('[dbo].[',item().name,']')",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ConexaoBanco",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Carrega stage especializada Comissao",
							"description": "Cria a tabela comissao_carga utilizada na carga da fato de comissao",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Cria External Table WizData",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[proc_CarregaEsteiraRelatorioABC]",
								"storedProcedureParameters": {
									"NomeTabela": {
										"value": {
											"value": "@concat(item().name)",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ConexaoBanco",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Carrega Fato Comissao",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Carrega stage especializada Comissao",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[proc_CarregaFatoComissaoCorporate]",
								"storedProcedureParameters": {
									"NomeTabela": {
										"value": {
											"value": "@concat(item().name,'CARGA')",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ConexaoBanco",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Atualiza Log Sucesso",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Carrega Fato Comissao",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[WizData].[proc_InsereLogProcessamento]",
								"storedProcedureParameters": {
									"NomePipeline": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"Camada": {
										"value": {
											"value": "CURATED",
											"type": "Expression"
										},
										"type": "String"
									},
									"nomearquivo": {
										"value": {
											"value": "@{item().name}",
											"type": "Expression"
										},
										"type": "String"
									},
									"Status": {
										"value": {
											"value": "Sucesso",
											"type": "Expression"
										},
										"type": "String"
									},
									"Detalhe": {
										"value": {
											"value": "Dados enviado para CURATED com Sucesso",
											"type": "Expression"
										},
										"type": "String"
									},
									"isUpdate": {
										"value": {
											"value": "1",
											"type": "Expression"
										},
										"type": "String"
									},
									"HierarquiaFinal": {
										"value": {
											"value": "@concat('WizData.FAT_COMIZ_WIZ')",
											"type": "Expression"
										},
										"type": "String"
									},
									"TamanhoArquivoIni": {
										"value": "0",
										"type": "String"
									},
									"TamanhoArquivoFim": {
										"value": "0",
										"type": "String"
									},
									"QtdLinhasIni": {
										"value": "0",
										"type": "String"
									},
									"QtdLinhasFim": {
										"value": "0",
										"type": "String"
									},
									"QtdLinhasRej": {
										"value": "0",
										"type": "String"
									},
									"HierarquiaInicial": {
										"value": null,
										"type": "String"
									}
								}
							}
						},
						{
							"name": "Atualiza Log Falha",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Carrega Fato Comissao",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[WizData].[proc_InsereLogProcessamento]",
								"storedProcedureParameters": {
									"NomePipeline": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"Camada": {
										"value": {
											"value": "CURATED",
											"type": "Expression"
										},
										"type": "String"
									},
									"nomearquivo": {
										"value": {
											"value": "@{item().name}",
											"type": "Expression"
										},
										"type": "String"
									},
									"Status": {
										"value": {
											"value": "Falha",
											"type": "Expression"
										},
										"type": "String"
									},
									"Detalhe": {
										"value": {
											"value": "Falha na conversão do arquivo",
											"type": "Expression"
										},
										"type": "String"
									},
									"isUpdate": {
										"value": {
											"value": "1",
											"type": "Expression"
										},
										"type": "String"
									},
									"HierarquiaFinal": {
										"value": {
											"value": "@concat('STAGE',pipeline().parameters.Hierarquia,pipeline().parameters.Ano,'/',pipeline().parameters.Mes,'/',pipeline().parameters.Dia,'/',item().name)",
											"type": "Expression"
										},
										"type": "String"
									},
									"TamanhoArquivoIni": {
										"value": {
											"value": "@activity('Carrega Fato Comissao').output.dataRead",
											"type": "Expression"
										},
										"type": "String"
									},
									"TamanhoArquivoFim": {
										"value": {
											"value": "@activity('Carrega Fato Comissao').output.dataWritten",
											"type": "Expression"
										},
										"type": "String"
									},
									"QtdLinhasIni": {
										"value": {
											"value": "@activity('Carrega Fato Comissao').output.rowsRead",
											"type": "Expression"
										},
										"type": "String"
									},
									"QtdLinhasFim": {
										"value": {
											"value": "@activity('Carrega Fato Comissao').output.rowsCopied",
											"type": "Expression"
										},
										"type": "String"
									},
									"QtdLinhasRej": {
										"value": {
											"value": "@activity('Carrega Fato Comissao').output.rowsSkipped",
											"type": "Expression"
										},
										"type": "String"
									},
									"HierarquiaInicial": {
										"value": null,
										"type": "String"
									}
								}
							}
						},
						{
							"name": "Dropa External Table Final WizData",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Atualiza Log Sucesso",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[WizData].[proc_DropExternalTable]",
								"storedProcedureParameters": {
									"NomeTabela": {
										"value": {
											"value": "@item().name",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							}
						},
						{
							"name": "Dropa External Table Final",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Dropa External Table Final WizData",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[WizData].[proc_DropTable]",
								"storedProcedureParameters": {
									"NomeTabela": {
										"value": {
											"value": "@concat(item().name,'CARGA')",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Ano": {
				"type": "string",
				"defaultValue": "2022"
			},
			"Mes": {
				"type": "string",
				"defaultValue": "06"
			},
			"Dia": {
				"type": "string",
				"defaultValue": "01"
			},
			"Hierarquia": {
				"type": "string",
				"defaultValue": "/teste/"
			}
		},
		"variables": {
			"NomeArquivo": {
				"type": "String"
			}
		},
		"folder": {
			"name": "ExecuçãoMasterData/CURATED"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}