pipeline/PL_DELIMITADO_CURATED_copy1.json
{
	"name": "PL_DELIMITADO_CURATED_copy1",
	"properties": {
		"activities": [
			{
				"name": "Verifica_Arquivos_Stage",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ADLBlob",
						"type": "DatasetReference",
						"parameters": {
							"Directory": {
								"value": "@concat('RAW',pipeline().parameters.Hierarquia,pipeline().parameters.Ano,'/',pipeline().parameters.Mes,'/',pipeline().parameters.Dia)",
								"type": "Expression"
							},
							"Container": "storagemasteragro"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings",
						"skipLineCount": 0
					}
				}
			},
			{
				"name": "Trata Varios Arquivos",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Verifica_Arquivos_Stage",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Verifica_Arquivos_Stage').output.childitems",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 10,
					"activities": [
						{
							"name": "PreencheVariavel NomeArquivo",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Insere Log Inicio",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "NomeArquivo",
								"value": {
									"value": "@{item().name}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Insere Log Inicio",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Verifica Arquivo foi processado",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[proc_InsereLogProcessamento]",
								"storedProcedureParameters": {
									"NomePipeline": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"Camada": {
										"value": {
											"value": "CURATED",
											"type": "Expression"
										},
										"type": "String"
									},
									"nomearquivo": {
										"value": {
											"value": "@{item().name}",
											"type": "Expression"
										},
										"type": "String"
									},
									"Status": {
										"value": {
											"value": "Em Processamento",
											"type": "Expression"
										},
										"type": "String"
									},
									"Detalhe": {
										"value": {
											"value": "Processando Arquivo",
											"type": "Expression"
										},
										"type": "String"
									},
									"isUpdate": {
										"value": {
											"value": "0",
											"type": "Expression"
										},
										"type": "String"
									},
									"HierarquiaFinal": {
										"value": null,
										"type": "String"
									},
									"TamanhoArquivoIni": {
										"value": {
											"value": "0",
											"type": "Expression"
										},
										"type": "String"
									},
									"QtdLinhasIni": {
										"value": {
											"value": "0",
											"type": "Expression"
										},
										"type": "String"
									},
									"TamanhoArquivoFim": {
										"value": null,
										"type": "String"
									},
									"QtdLinhasFim": {
										"value": null,
										"type": "String"
									},
									"QtdLinhasRej": {
										"value": null,
										"type": "String"
									},
									"HierarquiaInicial": {
										"value": {
											"value": "@concat('STAGE',pipeline().parameters.Hierarquia,pipeline().parameters.Ano,'/',pipeline().parameters.Mes,'/',pipeline().parameters.Dia,'/',item().name)",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ConexaoBanco",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Verifica Arquivo foi processado",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "DECLARE @A varchar(30)\n\nselect top 1 @A=tmp.A --as Prosseguir  \nFROM\n(\n\tSELECT 'N' as A\n\tfrom dbo.logprocessamento with(nolock)\n\twhere NomeArquivo = '@{item().name}'\n\tand Status = 'Sucesso1' \n\tand Camada = 'CURATED'\n\tUNION ALL\n\tSELECT 'S' as A\n) tmp\norder by A\n\nIF @A = 'N'\nBEGIN\n\tRAISERROR ('Arquivo Já Processado',16,1)\nEND\nELSE\nBEGIN\n\tSELECT 'S' as Prosseguir\nEND",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "LogProcessamento",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "Dropa External Table",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "PreencheVariavel NomeArquivo",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[proc_DropExternalTable]",
								"storedProcedureParameters": {
									"NomeTabela": {
										"value": {
											"value": "@concat(item().name)",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "linkedService1",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Cria External Table 1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Dropa External Table",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[proc_CriaExternalTable]",
								"storedProcedureParameters": {
									"campos": {
										"value": {
											"value": "NF varchar(8000)",
											"type": "Expression"
										},
										"type": "String"
									},
									"nomearquivo": {
										"value": {
											"value": "@concat('/RAW',pipeline().parameters.Hierarquia,pipeline().parameters.Ano,'/',pipeline().parameters.Mes,'/',pipeline().parameters.Dia,'/',item().name)",
											"type": "Expression"
										},
										"type": "String"
									},
									"NomeTabela": {
										"value": {
											"value": "@concat('[dbo].[',item().name,']')",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "linkedService1",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Converte Arquivos para Parquet",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Cria External Table 1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "@replace(concat(' \nWITH\n    C\n    AS  \n    (\n        SELECT NF , value , ROW_NUMBER() OVER(PARTITION BY NF ORDER BY (SELECT NULL)) as rn\n        FROM [dbo].[',item().name,']  CROSS APPLY STRING_SPLIT(NF, '';'') AS BK\n    )\nSELECT [1] AS Indice \n     , [2] AS Nao_Identificado_02\n     , [3] AS Nao_Identificado_03\n     , [4] AS DtEfetivacao \n     , [5] AS NrRecibo \n     , [6] AS Nao_Identificado_06\n\t , [7] AS NmSegurado\n\t , [8] AS Nao_Identificado_08\n\t , [9] AS Nao_Identificado_09\n\t , [10] AS Nao_Identificado_10\n\t , [11] AS Nao_Identificado_11\n\t , [12] AS NumeroApolice\n\t , [13] AS NumeroEndosso\n\t , [14] AS Nao_Identificado_14\n\t , [15] AS Vlbase\n\t , [16] AS PercentualComissao\n\t , [17] AS ValorComissao\n\t , [18] AS NumeroParcela\n\t , [19] AS Nao_Identificado_18\n\t , [20] AS Nao_Identificado_19\n\t , [21] AS Nao_Identificado_18231\n\t , [22] AS Nao_Identificado_12318\n\t , [23] AS Nao_Identificado_18123\n\t , [24] AS Nao_Identificado_1812133\n\t , [25] AS Nao_Identificado_1831\nFROM C PIVOT( MAX(VALUE) FOR RN IN([1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20],[21],[22],[23],[24],[25]) ) as PVT\n'),'\\','''')",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"enableSkipIncompatibleRow": true,
								"logSettings": {
									"enableCopyActivityLog": true,
									"copyActivityLogSettings": {
										"logLevel": "Warning",
										"enableReliableLogging": false
									},
									"logLocationSettings": {
										"linkedServiceName": {
											"referenceName": "AzureDataLakeStorage1",
											"type": "LinkedServiceReference"
										},
										"path": {
											"value": "@concat('storagemaster','/','FAILURE','/',variables('NomeArquivo'))",
											"type": "Expression"
										}
									}
								},
								"dataIntegrationUnits": 2,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "Indice",
												"type": "String"
											},
											"sink": {
												"name": "Indice",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Nao_Identificado_02",
												"type": "String"
											},
											"sink": {
												"name": "Nao_Identificado_02",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Nao_Identificado_03",
												"type": "String"
											},
											"sink": {
												"name": "Nao_Identificado_03",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DtEfetivacao",
												"type": "String"
											},
											"sink": {
												"name": "DtEfetivacao",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "NrRecibo",
												"type": "String"
											},
											"sink": {
												"name": "NrRecibo",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Nao_Identificado_06",
												"type": "String"
											},
											"sink": {
												"name": "Nao_Identificado_06",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "NmSegurado",
												"type": "String"
											},
											"sink": {
												"name": "NmSegurado",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Nao_Identificado_08",
												"type": "String"
											},
											"sink": {
												"name": "Nao_Identificado_08",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Nao_Identificado_09",
												"type": "String"
											},
											"sink": {
												"name": "Nao_Identificado_09",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Nao_Identificado_10",
												"type": "String"
											},
											"sink": {
												"name": "Nao_Identificado_10",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Nao_Identificado_11",
												"type": "String"
											},
											"sink": {
												"name": "Nao_Identificado_11",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "NumeroApolice",
												"type": "String"
											},
											"sink": {
												"name": "NumeroApolice",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "NumeroEndosso",
												"type": "String"
											},
											"sink": {
												"name": "NumeroEndosso",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Nao_Identificado_14",
												"type": "String"
											},
											"sink": {
												"name": "Nao_Identificado_14",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Vlbase",
												"type": "String"
											},
											"sink": {
												"name": "Vlbase",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PercentualComissao",
												"type": "String"
											},
											"sink": {
												"name": "PercentualComissao",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ValorComissao",
												"type": "String"
											},
											"sink": {
												"name": "ValorComissao",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "NumeroParcela",
												"type": "String"
											},
											"sink": {
												"name": "NumeroParcela",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Nao_Identificado_18",
												"type": "String"
											},
											"sink": {
												"name": "Nao_Identificado_18",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Nao_Identificado_19",
												"type": "String"
											},
											"sink": {
												"name": "Nao_Identificado_19",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Nao_Identificado_18231",
												"type": "String"
											},
											"sink": {
												"name": "Nao_Identificado_18231",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Nao_Identificado_12318",
												"type": "String"
											},
											"sink": {
												"name": "Nao_Identificado_12318",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Nao_Identificado_18123",
												"type": "String"
											},
											"sink": {
												"name": "Nao_Identificado_18123",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Nao_Identificado_1812133",
												"type": "String"
											},
											"sink": {
												"name": "Nao_Identificado_1812133",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Nao_Identificado_1831",
												"type": "String"
											},
											"sink": {
												"name": "Nao_Identificado_1831",
												"type": "String"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "AzureSqlTable1",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ConversaoParquetNome",
									"type": "DatasetReference",
									"parameters": {
										"Directory": {
											"value": "@concat('STAGE',pipeline().parameters.Hierarquia,pipeline().parameters.Ano,'/',pipeline().parameters.Mes,'/',pipeline().parameters.Dia)",
											"type": "Expression"
										},
										"Container": "storagemasteragro",
										"FileName": {
											"value": "@replace(replace(replace(toLower(item().name),'.csv','.parquet'),'.txt','.parquet'),'.zip','.parquet')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"Ano": {
				"type": "string",
				"defaultValue": "2022"
			},
			"Mes": {
				"type": "string",
				"defaultValue": "06"
			},
			"Dia": {
				"type": "string",
				"defaultValue": "06"
			},
			"Hierarquia": {
				"type": "string",
				"defaultValue": "/RelatorioABC/"
			}
		},
		"variables": {
			"NomeArquivo": {
				"type": "String"
			}
		},
		"folder": {
			"name": "ExecuçãoMasterData/CURATED"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}