pipeline/PL_PARQUET_AGROLINE_CURATED.json
{
	"name": "PL_PARQUET_AGROLINE_CURATED",
	"properties": {
		"activities": [
			{
				"name": "Trata Varios Arquivos Comissao",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Verifica_Arquivos_Stage",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Verifica_Arquivos_Stage').output.childitems",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 10,
					"activities": [
						{
							"name": "PreencheVariavel NomeArquivo",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Insere Log Inicio",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "NomeArquivo",
								"value": {
									"value": "@{item().name}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Dropa External Table",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "PreencheVariavel NomeArquivo",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[proc_DropExternalTable]",
								"storedProcedureParameters": {
									"NomeTabela": {
										"value": {
											"value": "@concat(item().name)",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							}
						},
						{
							"name": "Insere Log Inicio",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[proc_InsereLogProcessamento]",
								"storedProcedureParameters": {
									"NomePipeline": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"Camada": {
										"value": {
											"value": "DW",
											"type": "Expression"
										},
										"type": "String"
									},
									"nomearquivo": {
										"value": {
											"value": "@{item().name}",
											"type": "Expression"
										},
										"type": "String"
									},
									"Status": {
										"value": {
											"value": "Em Processamento",
											"type": "Expression"
										},
										"type": "String"
									},
									"Detalhe": {
										"value": {
											"value": "Processando Arquivo",
											"type": "Expression"
										},
										"type": "String"
									},
									"isUpdate": {
										"value": {
											"value": "0",
											"type": "Expression"
										},
										"type": "String"
									},
									"HierarquiaFinal": {
										"value": null,
										"type": "String"
									},
									"TamanhoArquivoIni": {
										"value": {
											"value": "0",
											"type": "Expression"
										},
										"type": "String"
									},
									"QtdLinhasIni": {
										"value": {
											"value": "0",
											"type": "Expression"
										},
										"type": "String"
									},
									"TamanhoArquivoFim": {
										"value": null,
										"type": "String"
									},
									"QtdLinhasFim": {
										"value": null,
										"type": "String"
									},
									"QtdLinhasRej": {
										"value": null,
										"type": "String"
									},
									"HierarquiaInicial": {
										"value": null,
										"type": "String"
									}
								}
							}
						},
						{
							"name": "InsereFato",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Dropa External Table",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false
							}
						}
					]
				}
			},
			{
				"name": "Verifica_Arquivos_Stage",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings",
						"skipLineCount": 0
					}
				}
			}
		],
		"parameters": {
			"Ano": {
				"type": "string",
				"defaultValue": "2022"
			},
			"Mes": {
				"type": "string",
				"defaultValue": "05"
			},
			"Dia": {
				"type": "string",
				"defaultValue": "26"
			},
			"Hierarquia": {
				"type": "string",
				"defaultValue": "/Stage/"
			}
		},
		"variables": {
			"NomeArquivo": {
				"type": "String"
			}
		},
		"folder": {
			"name": "ExecuçãoMasterData/CURATED"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}