local/pipeline/PL_PARQUET_AGROLINE_CURATED.json
{
	"name": "PL_PARQUET_AGROLINE_CURATED",
	"properties": {
		"activities": [
			{
				"name": "Trata Varios Arquivos Comissao",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Verifica_Arquivos_Stage",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Verifica_Arquivos_Stage').output.childitems",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 10,
					"activities": [
						{
							"name": "PreencheVariavel NomeArquivo",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Insere Log Inicio",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "NomeArquivo",
								"value": {
									"value": "@{item().name}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Dropa External Table",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "PreencheVariavel NomeArquivo",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[proc_DropExternalTable]",
								"storedProcedureParameters": {
									"NomeTabela": {
										"value": {
											"value": "@concat(item().name)",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Insere Log Inicio",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[proc_InsereLogProcessamento]",
								"storedProcedureParameters": {
									"NomePipeline": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"Camada": {
										"value": {
											"value": "DW",
											"type": "Expression"
										},
										"type": "String"
									},
									"nomearquivo": {
										"value": {
											"value": "@{item().name}",
											"type": "Expression"
										},
										"type": "String"
									},
									"Status": {
										"value": {
											"value": "Em Processamento",
											"type": "Expression"
										},
										"type": "String"
									},
									"Detalhe": {
										"value": {
											"value": "Processando Arquivo",
											"type": "Expression"
										},
										"type": "String"
									},
									"isUpdate": {
										"value": {
											"value": "0",
											"type": "Expression"
										},
										"type": "String"
									},
									"HierarquiaFinal": {
										"value": null,
										"type": "String"
									},
									"TamanhoArquivoIni": {
										"value": {
											"value": "0",
											"type": "Expression"
										},
										"type": "String"
									},
									"QtdLinhasIni": {
										"value": {
											"value": "0",
											"type": "Expression"
										},
										"type": "String"
									},
									"TamanhoArquivoFim": {
										"value": null,
										"type": "String"
									},
									"QtdLinhasFim": {
										"value": null,
										"type": "String"
									},
									"QtdLinhasRej": {
										"value": null,
										"type": "String"
									},
									"HierarquiaInicial": {
										"value": null,
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "InsereFato",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Dropa External Table",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "Prop_0",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Descricao",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Prop_1",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Codigo",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Prop_2",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Qtde",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Prop_3",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "VdaBruta",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Prop_4",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "MediaUm",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Prop_5",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "ICMS",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Prop_6",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "PisConfins",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Prop_7",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Outros",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Prop_8",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Custo",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Prop_9",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Frete",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Prop_10",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "DespAces",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Prop_11",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Comissao",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Prop_12",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "LucroBruto",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Prop_13",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "PercLucro",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Prop_14",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "PercVenda",
												"type": "String",
												"physicalType": "varchar"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Parquet",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSqlTable1",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Verifica_Arquivos_Stage",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ADLBlob",
						"type": "DatasetReference",
						"parameters": {
							"Directory": "/Stage/",
							"Container": "storagemaster"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings"
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings",
						"skipLineCount": 0
					}
				}
			}
		],
		"parameters": {
			"Ano": {
				"type": "string",
				"defaultValue": "2022"
			},
			"Mes": {
				"type": "string",
				"defaultValue": "05"
			},
			"Dia": {
				"type": "string",
				"defaultValue": "26"
			},
			"Hierarquia": {
				"type": "string",
				"defaultValue": "/Stage/"
			}
		},
		"variables": {
			"NomeArquivo": {
				"type": "String"
			}
		},
		"folder": {
			"name": "ExecuçãoMasterData/CURATED"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}